<%= form_for(funnel) do |f| %>
  <% if funnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funnel.errors.count, "error") %> prohibited this funnel from being saved:</h2>

      <ul>
      <% funnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :numTriggers %>
    <%= f.number_field :numTriggers %>
  </div>

  <div class="field">
    <%= f.label :numRevenue %>
    <%= f.text_field :numRevenue %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
